/*set lại parđing và margin*/
* {
	padding: 0;
	margin: 0;
}


body{
	width: 100%;
	min-height: 630px;
	background-image: linear-gradient(to bottom, white,  #fbd49b); 
	/*hiệu ứng đổ màu đổ từ #fbd49b đến trắng theo hướng từ dưới lên*/
}
.box{
	width: 97%;
	height: 680px;
	margin: 0 auto;
	/*căn giữa box*/
}
.block{
	width: 100%;
	height: 660px;
	margin-top: 25px;
	border: 1px solid black;
	/*border-radius: 30px;
	box-shadow:  5px 5px black; */
	background-color: white;
	/*Đổ bóng*/
}

.header{
	width: 92%;
	height: 100px;
	/*border-bottom: 2px solid orange; dòng ngạch ngang dưới màu cam*/
	margin: 20px 0px 0px 30px;/*trên phải dưới trái*/
}
.header-left{
	width: 10%;
	height: 100%;
	float: left;
	margin-left: 4px;
	

}
.header-right{
	width: 83%;
	height: 80%;
	float: left;	
}
.top{
	width: 100%;
	height: 65%;
}
h1{
	color: #ECAE18;
	font-size: 45px;
	text-shadow: 6px 2px 2px #586065;/*đổ bóng chữ*/
	font-family: Arial;
	letter-spacing: 5px;
}
.bottom{
	width: 100%;
	height: 50%;
}
.bottom h2{
	color: #78AE7B;
	font-family: Arial;
	font-size: 30px;
}
ul.menu{
	width: 92%;
    height: 45px;
    border-top: 2px solid orange;
	border-bottom: 2px solid orange;
}
ul.menu li{
	display: inline-block;
    width: 15%;
    list-style-type: none;
    font-weight: bold;
    margin: 3.6px -15px 3.6px 0px;/*trên phải dưới trái*/
    padding: 10px;
    border-right: 2px solid silver;
    text-align: center;
}
ul.menu li a {
	color: #78AE7B;
}
.body{
	width: 91%;
	height: 415px;
	margin-left: 35px;
}
.body-left{
	width: 64%;
	height: 400px;
	margin-left: 30px;
	border-right: 2px solid orange;
	float: left;

}
ul{
	margin-left: 30px;
	margin-top: 10px;
	margin-bottom: 13px;
	font-family: Arial;
	font-weight: 10px;
}
	.body h2{
	font-size: 33px;
	font-family: Arial;
	}

.grey a{
	color: #CBC9C9;
	 /*set màu cho link*/
}
.green a{
	color: #82C659;
}

.body h3{
	font-size: 25px;
	font-family: Arial;
}
.body p{
	margin-top: 10px;
	font-family: Arial;
}
.contact{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
}
.body-right{
	width: 30%;
	height: 400px;
	margin-left: 30px;
	float: right;
}
.color{
	color: #82C659;
	font-weight: bold;
}
.footer{
	width: 92%;
	height: 10%;
	border-top: 2px solid orange; /*gạch ngang màu cam*/
	margin-left: 28px;
}
.footer p{
	float: right;
	margin-right: 10px;
	padding-top: 14px;
	font-family: Arial;
	font-size: 15px;
}
